Minem.Sgpam.WebApiLF/Connected Services/WCFSeguridad/WCFSistemasService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFSistemasService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFSistemasService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Sistema">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_Codigo_generado_plone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Sistema" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IP_Remoto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_explorador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_pagina_web" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sistema" nillable="true" type="tns:Sistema" />
  <xs:complexType name="AddSistemaResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Coduser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fullname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuSistema" nillable="true" type="tns:MenuSistema" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponsableCorreo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponsableDireccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponsableNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponsablePrimerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponsableSegundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddSistemaResult" nillable="true" type="tns:AddSistemaResult" />
  <xs:complexType name="MenuSistema">
    <xs:sequence>
      <xs:element minOccurs="0" name="DES_ABREV_SIS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_ESQUEMA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_OPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_SISTEMA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_URLIMAGEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_SIS" type="xs:long" />
      <xs:element minOccurs="0" name="NUM_NIVEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_ORDEN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenuSistema" nillable="true" type="tns:MenuSistema" />
</xs:schema>