Minem.Sgpam.WebApiLF/Connected Services/WCFSeguridad/WCFSistemasService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vservicios/ServicioAcceso2/WCFSistemasService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFSistemasService" />
  <xs:element name="AddSistema">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFSistemasService" minOccurs="0" name="Sistema" nillable="true" type="q1:Sistema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSistemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFSistemasService" minOccurs="0" name="AddSistemaResult" nillable="true" type="q2:AddSistemaResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>